<footer>
	<div id="my-logo">
		<a href="http://www.onlychaos.com/" target="_blank">
			<img class="cats" src="http://thecatapi.com/api/images/get?format=src&type=gif" width='200'>
		</a>
	</div>
	<div id="technologies">
		<p>
			I built this page for the 6th week Project at
			<a href="http://www.makersacademy.com">Makers Academy</a>, a 12 week coding course in London. 
		</p>
		<p>
			(Pssst: Click on the cat to read my blog describing the journey so far!)
			</p>
		<p>
			This website is built using Javascript, jQuery, Sinatra, Rspec, HTML and CSS.
		</p>
	</div>
</footer>