<ul>
	<li>
		<img data-gesture='Rock' src='/images/rock.png'>
		</a>
	</li>
	<li>
		<img data-gesture='Paper' src='/images/paper.png'>
		</a>
	</li>
	<li>
		<img data-gesture='Scissors' src='/images/sissors-02.png'>
		</a>
	</li>
	<li>
		<img data-gesture='Lizard' src='/images/lizard.png'>
		</a>
	</li>
	<li>
		<img data-gesture='Spock' src='/images/spock.png'>
		</a>
	</li>
</ul>

