<h1>Rock / Paper / Scissors / Lizard / Spock</h1>

<h2 class="animated tada">Make your choice...</h2>

<ul>
	<li>
		<img data-gesture='Rock' src='/images/rock.png'>
		</a>
	</li>
	<li>
		<img data-gesture='Paper' src='/images/paper.png'>
		</a>
	</li>
	<li>
		<img data-gesture='Scissors' src='/images/sissors-02.png'>
		</a>
	</li>
	<li>
		<img data-gesture='Lizard' src='/images/lizard.png'>
		</a>
	</li>
	<li>
		<img data-gesture='Spock' src='/images/spock.png'>
		</a>
	</li>
</ul>

<h3></h3>

<h2>Results</h2>
	<table id="results">
		<tr>
			<td> Wins: </td>
			<td><div id="counterwin"></div></td>
		</tr>
		<tr>
			<td> Loses: </td>
			<td><div id="counterlose"></div></td>
		</tr>
</table>