<!DOCTYPE HTML>
<html>

<head>

	<title>Rock Paper Scissors Lizard Spock</title>


	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.min.css">


</head>

<body>

	<h1>Rock / Paper / Scissors / Lizard / Spock</h1>

	<h2 class="animated tada">Make your choice...</h2>

	<%= yield %>

	<h3></h3>

	<div class="push"></div>
	<div class="footer">
		<%= partial :footer %>
	</div>

	<script src='../jquery/jquery-2.1.1.js'></script>
	<script type="text/javascript" src="/src/RPS.js"></script>
	<script type="text/javascript" src="/src/game.js"></script>

</body>

</html>