<!DOCTYPE HTML>
<html>

<head>

	<title>Rock Paper Scissors Lizard Spock</title>

	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">


</head>

<body>

	<h1>Rock / Paper / Scissors / Lizard / Spock</h1>

	<h2>Make your choice...</h2>

	<%= yield %>

	<script src='../jquery/jquery-2.1.1.js'></script>
	<script type="text/javascript" src="/src/RPS.js"></script>
	<script type="text/javascript" src="/src/game.js"></script>

</body>

</html>