*{
	font-family:Lato;
}

body {
	background-color: #CCFF99;
}

h1 {
	font-size: 3em;
	text-align: center;
	text-shadow: 2px 2px 8px #33CC33;
}

h2 {
	font-size: 2em;
	text-align: center;
	text-shadow: 2px 2px 8px #33CC33;
} 

table {
	border: none;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	}

	th {
		padding: 30px;
	}