/****************import***********************/

@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

/*******************layout************************/

body {
	background-color: #CCFF99;
}

ul {
	position: relative;
	margin: 0.1em;
}

ul li {
	list-style-type: none;
	display: inline-block;
	padding: 1.5em;
	position: relative;
}

h1, h2, h3 {
	text-align: center;
	padding: 0.4em;
	margin: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}

img:hover {
	width: 10em;
	height: 10em;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
	position: relative;
	height: 8em;
	width: 8em;
}


/*******************typography*************************/
*{
	font-family:Lato;
}

h1 {
	font-size: 3em;
	text-shadow: 2px 2px 8px #33CC33;
}

h2, h3, td {
	font-size: 2em;
	text-shadow: 2px 2px 8px #33CC33;
}

h4 {
	font-size: 1em;
	font-weight: bold;
}

footer {
  display: flex;
  background-color: rgba(0,0,0,0.2);
  }

  footer > * {
    padding: 0.4em;
  }

  footer img {
    vertical-align: top;
    position: relative;
		height: 9.5em;
		width: 9.5em;
  }

  footer #technologies {
    -webkit-flex: 1;
    flex: 1;
  }

  footer p {
    padding: 5px 25px;
  }

  .footer, .push {
    height: 70px;
  }

  a {
  	text-decoration: none;
  }



