/****************import***********************/

@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

/*******************layout************************/

body {
	background-color: #CCFF99;
}

ul li {
	list-style-type: none;
	display: inline-block;
	padding: 20px;
	position: relative;
	left: 10%;
}

h1, h2, h3 {
	text-align: center;
}

img:hover {
	width: 250px;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img #cats {
	height: 3em;
	width: 3em;
}


/*******************typography*************************/
*{
	font-family:Lato;
}

h1 {
	font-size: 3em;
	text-shadow: 2px 2px 8px #33CC33;
}

h2, h3 {
	font-size: 2em;
	text-shadow: 2px 2px 8px #33CC33;
}

h4 {
	font-size: 1em;
	font-weight: bold;
}

footer {
  display: flex;
  background-color: rgba(0,0,0,0.2);
  }

  footer > * {
    margin: auto inherit;
  }

  footer img {
    vertical-align: top;
  }

  footer #technologies {
    -webkit-flex: 1;
    flex: 1;
  }

  footer p {
    padding: 5px 25px;
  }

  .footer, .push {
    height: 70px;
  }

  a {
  	text-decoration: none;
  }



